export HOSTNAME="command.hostname.com"
export API_PATH="KeyfactorAPI"

export CERTIFICATE_TEMPLATE="Server_tlsServerAuth-1y"
export CERTIFICATE_AUTHORITY_HOSTNAME=""
export CERTIFICATE_AUTHORITY_LOGICAL_NAME="Sub-CA"

export OAUTH_TOKEN_URL="https://example.com/oauth2/token"
export OAUTH_CLIENT_ID="changeme"
export OAUTH_CLIENT_SECRET='changeme'